@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: 8px;
  }

  :root[data-theme="og"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 360 100% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 240 5% 65%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --scrollbar-foreground: #d4d4d8;
    --scrollbar-background: transparent;
    --scrollbar-hover: #a1a1aa;
    --link: #0a0a0a;
    --link-hover: #6b6b6b;
    --trophy-total: #27272a;
    --trophy-platinum: #7a96d1;
    --trophy-gold: #cd9a46;
    --trophy-silver: #9b9b9b;
    --trophy-bronze: #bf6a3a;
    --day-size: 33px;
    --calendar-padding: 36px 40px;
  }

  :root[data-theme="heatmap"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 163 88% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 240 5% 65%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --scrollbar-foreground: #d4d4d8;
    --scrollbar-background: transparent;
    --scrollbar-hover: #a1a1aa;
    --link: #006045;
    --link-hover: #009966;
    --trophy-total: #27272a;
    --trophy-platinum: #7a96d1;
    --trophy-gold: #cd9a46;
    --trophy-silver: #9b9b9b;
    --trophy-bronze: #bf6a3a;
    --day-size: 26px;
    --calendar-padding: 36px 40px;
  }

  :root[data-theme="columns"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 44 100% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 240 5% 65%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --scrollbar-foreground: #d4d4d8;
    --scrollbar-background: transparent;
    --scrollbar-hover: #a1a1aa;
    --link: #d08700;
    --link-hover: #f0b100;
    --trophy-total: #27272a;
    --trophy-platinum: #7a96d1;
    --trophy-gold: #cd9a46;
    --trophy-silver: #9b9b9b;
    --trophy-bronze: #bf6a3a;
    --day-size: 26px;
    --calendar-padding: 36px 40px;
  }

  ::-webkit-scrollbar {
    height: var(--scrollbar-width);
    width: var(--scrollbar-width);
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-foreground);
    border-radius: calc(var(--scrollbar-width) / 2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
  }

  @-moz-document url-prefix() {
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
    }
  }

  html {
    @apply h-full;
    scrollbar-gutter: stable;
  }

  html:has(body[data-scroll-locked]) {
    scrollbar-gutter: unset;
  }

  @media (hover: hover) and (pointer: fine) {
    html {
      margin-left: var(--scrollbar-width);
    }
    html > body[data-scroll-locked] {
      margin-right: var(--scrollbar-width) !important;
    }
  }

  body {
    @apply flex h-full flex-col bg-background !py-6 text-foreground;
  }

  input {
    @apply focus-visible:outline-none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px hsl(var(--secondary)) inset;
  }

  button:focus-visible {
    outline: none;
  }

  a {
    color: var(--link);
  }

  a:hover {
    color: var(--link-hover);
  }

  :where([data-sonner-toast]) > * {
    --toast-close-button-start: auto;
    --toast-close-button-end: 0;
    --toast-close-button-transform: translate(35%, -35%);
  }
}

@layer utilities {
  .scrollbar-gutter {
    scrollbar-gutter: stable;
  }

  .w-full-scrollbar-base {
    width: calc(100% + var(--scrollbar-width));
  }

  .w-full-scrollbar {
    @apply w-full-scrollbar-base;
    transform: translateX(calc(var(--scrollbar-width) / 2));
  }

  .image-shadow {
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
  }

  .size-day {
    width: var(--day-size);
    height: var(--day-size);
  }

  .h-day {
    height: var(--day-size);
  }

  .w-day {
    width: var(--day-size);
  }

  .calendar-padding {
    padding: var(--calendar-padding);
  }
}

.trophy-total {
  color: var(--trophy-total);
  fill: var(--trophy-total);
}

.trophy-platinum {
  color: var(--trophy-platinum);
  fill: var(--trophy-platinum);
}

.trophy-gold {
  color: var(--trophy-gold);
  fill: var(--trophy-gold);
}

.trophy-silver {
  color: var(--trophy-silver);
  fill: var(--trophy-silver);
}

.trophy-bronze {
  color: var(--trophy-bronze);
  fill: var(--trophy-bronze);
}
